.tbody{
    font-family:'Open Sans', sans-serif ;
    margin-left:35pt;
    margin-top:35pt;
    margin-bottom:35pt;
    color: purple;
    }

    #id1{
        font-family:'Open Sans', sans-serif ;
        
        margin-top:70pt;
        color:blue;
        
    }